.custom-table.v-data-table {
  > .v-data-table__wrapper > table {
    border-collapse: collapse;
  }

  &.light-table {
    > .v-data-table__wrapper > table {
      > thead > tr > th {
        font-size: 1rem;
        border: 1px solid #ccc;
        color: #fff;
        background-color: #8479e8;
      }

      > tbody > tr > td {
        vertical-align: baseline;
        border: 1px solid #ccc;
        background-color: #fff;
      }

      > tbody > tr > td.fixed-table-col {
        background-color: #f1f1f1;
      }
    }
  }
}
